#install required libraries by command pip install -r requirements.txt
#type down required libraries that are not here yet
flask
pyttsx3
gTTS
PyMuPDF
googletrans==4.0.0-rc1
flask-login
flask-bcrypt
pandas
torch
pillow
torchvision
torchaudio
matplotlib
